@import "tailwindcss";

@font-face {
  font-family: "Garamond";
  src: url("../assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-family: "Jost", sans-serif;
}

.title-font {
  font-family: "Garamond", serif !important;
}

.email-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.41);
  width: 100%;
  padding: 0.5px;
}
.profile-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
