<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Shankar</title>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
